
<div id="incidents-scope" class="container-fluid">
    <div class="row">
        <div class="offset-9 col-3">
            <input class="form-control" type="search" placeholder="Search incidents..." data-bind="value:seachText, valueUpdate: 'afterkeydown'" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="incidentTable" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>CIID</th>
                        <th>ErrorCode</th>
                        <th>Severity</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:filteredItems">
                    <tr>
                        <td data-bind="text:id"></td>
                        <td data-bind="text:ciid"></td>
                        <td data-bind="text:errorCode"></td>
                        <td data-bind="text:severity"></td>
                        <td data-bind="text:description"></td>
                    </tr>
                </tbody>
            </table>
            <p class="alert alert-warning" role="alert" data-bind="text:errorText, visible:errorText"></p>
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-success" data-bind="click:generateSomeIncidents, enable: connectionReady">Generate incidents</button>
            </div>
        </div>
    </div>
</div>